{% raw %}
  <div class="go-cart-modal-item">
    <div class="go-cart-item__image" style="background-image: url({{image}});"></div>
    <div class="go-cart-item__info">
      <a href="{{url}}" class="go-cart-item__title">{{product_title}} {{variantTitle}}</a> {{labelAddedToCart}}
    </div>
  </div>
{% endraw %}
